* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Poppins, sans-serif;
}

:root {
    --line-clamp: 2;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp);
    overflow: hidden;
}

/* ==== common ==== */

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    min-width: 108px;
    border-radius: 14px;
    border: 1px solid #1ebfc1;
    color: #1ebfc1;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 48px;
}

/* ==== header ==== */
.header {
    background: #fff;
}

.header__body {
    display: flex;
    padding: 52px 0 8px;
}

/* .header__fixed {
    position: sticky;
    top: -44px;
} */

.navbar {
    display: flex;
    margin-left: auto;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.list__item {
    /* display: inline-block; */
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 8px 20px;
}

.list__item:hover,
.action__cta:hover,
.active {
    color: #2f3a3b;
    text-shadow: 1px 0 0 currentColor;
}

.action__cta {
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0 24px;
    margin-left: calc(177px - 24px);
}

.action__btn {
    border-radius: 8px;
    font-size: 1.6rem;
}

.action__btn:hover {
    background: #1ebfc1;
    color: #fff;
}

/* ==== hero ==== */
.hero {
    padding: 42px 0 79px;
    background: #fff;
}

.hero__body {
    display: flex;
    align-items: center;
}

.hero__info {
    min-width: 40%;
}

.info__subtile {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.info_heading {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
    margin: 18px 0 46px;
}

.desc {
    width: 374px;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77;
    word-break: break-all;
}

.hero__action {
    /* margin-top: -50px; */
    display: flex;
    align-items: center;
}

.hero__action__btn {
    min-width: 186px;
    border-radius: 14px;
    background: #1ebfc1;
    line-height: 68px;
    color: #fff;
}

.hero__action__btn:hover {
    opacity: 0.9;
}

.hero__content {
    position: relative;
}

.action__play {
    margin-top: 50px;
}

.action__play:hover {
    opacity: 0.9;
}

.content__img {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.card__1__img {
    width: 157px;
    position: absolute;
    top: 149px;
    right: 459px;
    border-radius: 18px;
    background: #fefefd;
    padding: 17px 25px 18px;
}

.card__2__img {
    position: absolute;
    bottom: -10px;
    right: 435px;
}

.content__card__3 {
    position: absolute;
    border-radius: 24px;
    background: #fefefd;
    bottom: 41px;
    right: 45px;
    padding: 17px 55px 17px 35px;
}

.card__3__title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 8px;
}

.block-avt {
    position: relative;
    margin-left: 9px;
}

.card__3__avt {
    width: 33px;
    height: 33px;
    border-radius: 33px;
    margin-left: -9px;
    object-fit: cover;
}

.avt-plus {
    position: absolute;
    width: 33px;
    height: 33px;
    border-radius: 33px;
    padding: 12px 5px;
    background: #1ebfc1;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    right: -25px;
}

/* ==== features ==== */
.features {
    padding-top: 130px;
}

.features__text {
    width: 50%;
}

.text__sub-titile {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.text__heading {
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
    margin: 18px 0;
}

.text__desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}

.features__section {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.block__sub-titile {
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    padding: 26px 0 16px;
}

.block__desc {
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.68; /* 168.75% */
    word-break: break-all;
}

/* ==== courses ==== */

.courses {
    padding-top: 130px;
}

/* .courses__info {
    width: 525px;
} */

.courses__info__sub-title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.courses__info__title {
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    margin: 18px 0 19px;
}

.desc__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desc__cta {
    display: inline-block;
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.courses__info__desc {
    width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77; /* 177.778% */
    word-break: break-all;
}

.courses__card {
    display: flex;
    gap: 47px;
    position: relative;
    margin-top: 79px;
}

.card__course {
    flex: 1;
}

.course__image {
    width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.35;
}

.course__info {
    display: flex;
    position: absolute;
    border-radius: 8px;
    background: #fff;
    width: 325px;
    top: 322px;
    margin: 0 17px;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.info__name {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.wrap {
    flex: 1;
    padding: 25px 25px 29px;
}

.info__price {
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 25px 0 8px;
}

.info__price--strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.info__desc,
.time__classes,
.time__month {
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.33;
    word-break: break-all;
}

.info__time {
    display: flex;
    margin-top: 18px;
}

.time__classes,
.time__month {
    position: relative;
}

.time__classes {
    margin-left: 15px;
    margin-right: 25px;
}
.time__classes::before,
.time__month::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background: #1ebfc1;
    top: 4px;
    left: -15px;
    border-radius: 33px;
}
